<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/dashboard/master/tax-list">
        <span slot="icon-only">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </ion-button>
      <ion-title class="toolbar-title-text">Tax</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addTax()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="centered-form-wrapper">
    <form [formGroup]="taxForm">
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Tax Name *</ion-label>
        <ion-input formControlName="taxName"></ion-input>
        <div *ngIf="taxForm.get('taxName')?.invalid && (taxForm.get('taxName')?.dirty || taxForm.get('taxName')?.touched)" class="error-message">
          Tax Name is required.
        </div>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Alias *</ion-label>
        <ion-input formControlName="alias"></ion-input>
        <div *ngIf="taxForm.get('alias')?.invalid && (taxForm.get('alias')?.dirty || taxForm.get('alias')?.touched)" class="error-message">
          Alias is required.
        </div>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Type of Tax *</ion-label>
        <ion-select formControlName="typeOfTax" interface="alert">
          <ion-select-option value="Additional Tax">Additional Tax</ion-select-option>
          <ion-select-option value="CENVAT">CENVAT</ion-select-option>
          <ion-select-option value="CST">CST</ion-select-option>
          <ion-select-option value="GST">GST</ion-select-option>
          <ion-select-option value="Krishi Kalyan Cess">Krishi Kalyan Cess</ion-select-option>
          <ion-select-option value="Others">Others</ion-select-option>
          <ion-select-option value="Service Tax">Service Tax</ion-select-option>
          <ion-select-option value="Swachh Bharat Cess">Swachh Bharat Cess</ion-select-option>
          <ion-select-option value="TCS">TCS</ion-select-option>
          <ion-select-option value="TDS">TDS</ion-select-option>
          <ion-select-option value="VAT">VAT</ion-select-option>
        </ion-select>
        <div *ngIf="taxForm.get('typeOfTax')?.invalid && (taxForm.get('typeOfTax')?.dirty || taxForm.get('typeOfTax')?.touched)" class="error-message">
          Type of Tax is required.
        </div>
      </ion-item>
      <!-- if GST will selected -->
      <ion-item class="internal-form-item" *ngIf="taxForm.get('typeOfTax')?.value === 'GST'">
        <ion-label class="internal-form-label" position="floating">Type Tax *</ion-label>
        <ion-select formControlName="typeTax" interface="alert">
          <ion-select-option value="IGST">IGST</ion-select-option>
          <ion-select-option value="CGST">CGST</ion-select-option>
          <ion-select-option value="SGST/UTGST">SGST/UTGST</ion-select-option>
          <ion-select-option value="Cess">Cess</ion-select-option>
        </ion-select>
        <div *ngIf="taxForm.get('typeTax')?.invalid && (taxForm.get('typeTax')?.dirty || taxForm.get('typeTax')?.touched) && taxForm.get('typeOfTax')?.value === 'GST'" class="error-message">
          Type Tax is required.
        </div>
      </ion-item>
      <ion-item class="internal-form-item" *ngIf="taxForm.get('typeTax')?.value === 'Cess'">
        <ion-label class="internal-form-label" position="floating">Valuation Type *</ion-label>
        <ion-select formControlName="valuationType" interface="alert">
          <ion-select-option value="Based On Quantity">Based On Quantity</ion-select-option>
          <ion-select-option value="Based On Value">Based On Value</ion-select-option>
        </ion-select>
        <div *ngIf="taxForm.get('valuationType')?.invalid && (taxForm.get('valuationType')?.dirty || taxForm.get('valuationType')?.touched) && taxForm.get('typeTax')?.value === 'Cess'" class="error-message">
          Valuation Type is required.
        </div>
      </ion-item>
      <!-- ============================== -->
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Percentage *</ion-label>
        <ion-input formControlName="percentage"></ion-input>
        <div *ngIf="taxForm.get('percentage')?.invalid && (taxForm.get('percentage')?.dirty || taxForm.get('percentage')?.touched)" class="error-message">
          Percentage is required.
        </div>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Rounding Method *</ion-label>
        <ion-select formControlName="roundingMethod" interface="alert">
          <ion-select-option value="Not Applicable">Not Applicable</ion-select-option>
          <ion-select-option value="Downward Rounding">Downward Rounding</ion-select-option>
          <ion-select-option value="Normal Rounding">Normal Rounding</ion-select-option>
          <ion-select-option value="Upward Rounding">Upward Rounding</ion-select-option>
        </ion-select>
        <div *ngIf="taxForm.get('roundingMethod')?.invalid && (taxForm.get('roundingMethod')?.dirty || taxForm.get('roundingMethod')?.touched)" class="error-message">
          Rounding Method is required.
        </div>
      </ion-item>
      <!-- if select Downward Rounding -->
      <ion-item class="internal-form-item" *ngIf="taxForm.get('roundingMethod')?.value === 'Downward Rounding'">
        <ion-label class="internal-form-label" position="floating">Rounding Limit *</ion-label>
        <ion-input formControlName="roundingLimit"></ion-input>
        <div *ngIf="taxForm.get('roundingLimit')?.invalid && (taxForm.get('roundingLimit')?.dirty || taxForm.get('roundingLimit')?.touched) && taxForm.get('roundingMethod')?.value === 'Downward Rounding'" class="error-message">
          Rounding Limit is required.
        </div>
      </ion-item>
      <!-- -------------------------- -->
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Address</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Mobile</ion-label>
        <ion-input formControlName="mobile"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">PAN</ion-label>
        <ion-input formControlName="pan"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Bank Details</ion-label>
        <ion-select formControlName="bankDetails" interface="alert">
          <ion-select-option value="Cheque">Cheque</ion-select-option>
          <ion-select-option value="e - fund Transfer">e - fund Transfer</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- if Cheque selected -->
      <ion-item class="internal-form-item" *ngIf="taxForm.get('bankDetails')?.value === 'Cheque'">
        <ion-label class="internal-form-label" position="floating">Cheque Number</ion-label>
        <ion-input formControlName="chequeNumber"></ion-input>
      </ion-item>
      <!-- if e-fund transfer -->
      <ion-item class="internal-form-item" *ngIf="taxForm.get('bankDetails')?.value === 'e - fund Transfer'">
        <ion-label class="internal-form-label" position="floating">Account Number</ion-label>
        <ion-input formControlName="accountNumber"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item" *ngIf="taxForm.get('bankDetails')?.value === 'e - fund Transfer'">
        <ion-label class="internal-form-label" position="floating">IFSC Code</ion-label>
        <ion-input formControlName="ifscCode"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item" *ngIf="taxForm.get('bankDetails')?.value === 'e - fund Transfer'">
        <ion-label class="internal-form-label" position="floating">Bank Name</ion-label>
        <ion-input formControlName="bankName"></ion-input>
      </ion-item>
      <ion-item class="internal-form-item"
        *ngIf="taxForm.get('bankDetails')?.value === 'e - fund Transfer' || taxForm.get('bankDetails')?.value === 'Other'">
        <ion-label class="internal-form-label" position="floating">Opening Balance </ion-label>
        <ion-input formControlName="openingBalance"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>