<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/dashboard/transaction/payment-list">
        <span slot="icon-only">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </ion-button>
      <ion-title class="toolbar-title-text">Payment</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="paymentForm">
    <div class="centered-form-wrapper">
      <!-- Example fields, adapt as needed for cost center -->
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Change Mode</ion-label>
        <ion-select formControlName="changeMode" interface="alert">
          <ion-select-option value="Item Invoice">Item Invoice</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Purchase No</ion-label>
        <ion-input formControlName="purchaseNo"></ion-input>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Supplier Invoice No</ion-label>
        <ion-input formControlName="supplierInvoiceNo"></ion-input>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Bill Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="billDate"></ion-datetime>
      </ion-item>

      <ion-item-group>
        <ion-item detail="false" lines="none" button routerLink="/dashboard/transaction/add-ledgers-payment">
          <ion-label class="add-item-label">Add Ledgers</ion-label>
          <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        </ion-item>
        <div *ngIf="addedLagers.length !== 0">
          <ion-item class="internal-form-item" *ngFor="let ledger of addedLagers">
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="ledgers-item-col">
                  <ion-label>{{ ledger?.ledger_type }}</ion-label>
                  <ion-label>{{ ledger?.amount }}/{{ledger?.debit_credit}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-item-group>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Narration</ion-label>
        <ion-textarea formControlName="narration" rows="5"></ion-textarea>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label>Tax Total</ion-label>
        <ion-label slot="end">{{paymentForm.get('total_credit')?.value || "0.0"}}</ion-label>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label>Bill Amount</ion-label>
        <ion-label slot="end">{{paymentForm.get('total_debit')?.value || "0.0"}}</ion-label>
      </ion-item>
    </div>
  </form>
</ion-content>