<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Help and Support</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateToHome()">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="navigateToReport()">
        <ion-icon name="document-text-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="navigateToAddEntry()">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2>Help and Support</h2>
  <p>This is the Help and Support page under Settings.</p>
</ion-content>
