/* Styles for Connect to Tally page */
.span-text {
    color: #083D7C;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.step-button {
    width: 73px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    --background: #034099 !important;
}

.outer-box {
    width: 316px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(36, 39, 96, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}