<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/dashboard/settings">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Set Pin</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateToHome()">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="navigateToReport()">
        <ion-icon name="document-text-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="navigateToAddEntry()">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="pin-container">
    <div class="pin-title">Enter 4-digit PIN</div>
    <div class="pin-input-container">
      <input type="password" maxlength="1" class="pin-input" readonly [value]="pin[0]">
      <input type="password" maxlength="1" class="pin-input" readonly [value]="pin[1]">
      <input type="password" maxlength="1" class="pin-input" readonly [value]="pin[2]">
      <input type="password" maxlength="1" class="pin-input" readonly [value]="pin[3]">
    </div>
    
    <div class="keypad">
      <div class="keypad-row">
        <button class="keypad-button" (click)="addNumber('1')">1</button>
        <button class="keypad-button" (click)="addNumber('2')">2</button>
        <button class="keypad-button" (click)="addNumber('3')">3</button>
      </div>
      <div class="keypad-row">
        <button class="keypad-button" (click)="addNumber('4')">4</button>
        <button class="keypad-button" (click)="addNumber('5')">5</button>
        <button class="keypad-button" (click)="addNumber('6')">6</button>
      </div>
      <div class="keypad-row">
        <button class="keypad-button" (click)="addNumber('7')">7</button>
        <button class="keypad-button" (click)="addNumber('8')">8</button>
        <button class="keypad-button" (click)="addNumber('9')">9</button>
      </div>
      <div class="keypad-row">
        <button class="keypad-button delete" (click)="deleteNumber()">
          <ion-icon name="backspace-outline"></ion-icon>
        </button>
        <button class="keypad-button" (click)="addNumber('0')">0</button>
        <button class="keypad-button submit" (click)="submitPin()">
          <svg xmlns="http://www.w3.org/2000/svg" width="92" height="48" viewBox="0 0 92 48" fill="none">
            <rect width="92" height="48" rx="24" fill="#034099"/>
            <path d="M41.6224 26.8065L33.6556 18.9587L31 21.5746L41.6224 32.0385L64.3846 9.616L61.729 7L41.6224 26.8065Z" fill="white"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</ion-content>