<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="clear" routerLink="/dashboard/master/purchase-account-list">
                <span slot="icon-only">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
            </ion-button>
            <ion-title class="toolbar-title-text">Purchase Account</ion-title>
        </ion-buttons>
        <ion-spinner *ngIf="isLoading" slot="end"></ion-spinner>
        <ion-buttons slot="end" *ngIf="!isLoading">
            <ion-button (click)="addPurchaseAccount()">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="centered-form-wrapper">
        <form [formGroup]="purchaseAccountForm">
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Purchase Name *</ion-label>
                <ion-input formControlName="purchaseName"></ion-input>
                <div *ngIf="purchaseAccountForm.get('purchaseName')?.invalid && (purchaseAccountForm.get('purchaseName')?.dirty || purchaseAccountForm.get('purchaseName')?.touched)"
                    class="error-message">
                    Name is required.
                </div>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Alias *</ion-label>
                <ion-input formControlName="alias"></ion-input>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Ledger Type *</ion-label>
                <ion-select formControlName="ledgerType" interface="alert">
                    <ion-select-option value="Not Applicable">Not Applicable</ion-select-option>
                    <ion-select-option value="Discount">Discount</ion-select-option>
                    <ion-select-option value="Invoice Rounding">Invoice Rounding</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">GST Applicable *</ion-label>
                <ion-select formControlName="gstApplicable" interface="alert">
                    <ion-select-option value="Applicable">Applicable</ion-select-option>
                    <ion-select-option value="Not Applicable">Not Applicable</ion-select-option>
                </ion-select>
            </ion-item>
            <!-- if gstApplicable is "Applicable" -->
            <ion-item class="internal-form-item"
                *ngIf="purchaseAccountForm.get('gstApplicable').value === 'Applicable'">
                <ion-label class="internal-form-label" position="floating">HSN Details*</ion-label>
                <ion-select formControlName="HSNDetails" interface="alert">
                    <ion-select-option value="As Per Company/Group">As Per Company/Group</ion-select-option>
                    <ion-select-option value="Specify Details">Specify Details</ion-select-option>
                    <ion-select-option value="Use GST Classification">Use GST Classification</ion-select-option>
                    <ion-select-option value="Specify in Voucher">Specify in Voucher</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item"
                *ngIf="purchaseAccountForm.get('HSNDetails').value === 'Specify Details'">
                <ion-label class="internal-form-label" position="floating">HSN *</ion-label>
                <ion-input formControlName="hsn"></ion-input>
            </ion-item>
            <ion-item class="internal-form-item"
                *ngIf="purchaseAccountForm.get('HSNDetails').value === 'Specify Details'">
                <ion-label class="internal-form-label" position="floating">Description</ion-label>
                <ion-input formControlName="description"></ion-input>
            </ion-item>
            <ion-item class="internal-form-item"
                *ngIf="purchaseAccountForm.get('gstApplicable').value === 'Applicable'">
                <ion-label class="internal-form-label" position="floating">GST Rate Details *</ion-label>
                <ion-select formControlName="gstRateDetails" interface="alert">
                    <ion-select-option value="As Per Company/Group">As Per Company/Group</ion-select-option>
                    <ion-select-option value="Specify Details">Specify Details</ion-select-option>
                    <ion-select-option value="Use GST Classification">Use GST Classification</ion-select-option>
                    <ion-select-option value="Specify in Voucher">Specify in Voucher</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item"
                *ngIf="purchaseAccountForm.get('gstRateDetails').value === 'Specify Details'">
                <ion-label class="internal-form-label" position="floating">Taxability Type *</ion-label>
                <ion-select formControlName="taxabilityType" interface="alert">
                    <ion-select-option value="Taxable">Taxable</ion-select-option>
                    <ion-select-option value="Exempted">Exempted</ion-select-option>
                    <ion-select-option value="Nil Rated">Nil Rated</ion-select-option>
                    <ion-select-option value="Non - GST">Non - GST</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item" *ngIf="purchaseAccountForm.get('taxabilityType').value === 'Taxable'">
                <ion-label class="internal-form-label" position="floating">GST Rate *</ion-label>
                <ion-input formControlName="gstRate"></ion-input>
            </ion-item>
            <ion-item class="internal-form-item"
                *ngIf="purchaseAccountForm.get('gstRateDetails').value === 'Specify Details'">
                <ion-label class="internal-form-label" position="floating">Supply Type *</ion-label>
                <ion-select formControlName="supplyType" interface="alert">
                    <ion-select-option value="Services">Services</ion-select-option>
                    <ion-select-option value="Capital Goods">Capital Goods</ion-select-option>
                    <ion-select-option value="Goods">Goods</ion-select-option>
                </ion-select>
            </ion-item>
            <!-- ================================ -->

            <ion-item-group>
                <ion-item button (click)="showAdditionalDetails = !showAdditionalDetails" detail="false" lines="none">
                    <ion-label class="additional-details-label">Additional Details</ion-label>
                    <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showAdditionalDetails"></ion-icon>
                    <ion-icon slot="end" name="chevron-up-outline" *ngIf="showAdditionalDetails"></ion-icon>
                </ion-item>
                <div *ngIf="showAdditionalDetails">
                    <ion-item class="internal-form-item">
                        <ion-label class="internal-form-label" position="floating">Name</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item">
                        <ion-label class="internal-form-label" position="floating">Mobile</ion-label>
                        <ion-input formControlName="mobile"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item">
                        <ion-label class="internal-form-label" position="floating">Address</ion-label>
                        <ion-input formControlName="address"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item">
                        <ion-label class="internal-form-label" position="floating">PAN</ion-label>
                        <ion-input formControlName="pan"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item">
                        <ion-label class="internal-form-label" position="floating">Bank Details</ion-label>
                        <ion-select formControlName="bankDetails" interface="alert">
                            <ion-select-option value="Cheque">Cheque</ion-select-option>
                            <ion-select-option value="e - fund Transfer">e - fund Transfer</ion-select-option>
                            <ion-select-option value="Other">Other</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <!-- if Cheque selected -->
                    <ion-item class="internal-form-item"
                        *ngIf="purchaseAccountForm.get('bankDetails')?.value === 'Cheque'">
                        <ion-label class="internal-form-label" position="floating">Cheque Number</ion-label>
                        <ion-input formControlName="chequeNumber"></ion-input>
                    </ion-item>
                    <!-- if e-fund transfer -->
                    <ion-item class="internal-form-item"
                        *ngIf="purchaseAccountForm.get('bankDetails')?.value === 'e - fund Transfer'">
                        <ion-label class="internal-form-label" position="floating">Account Number</ion-label>
                        <ion-input formControlName="accountNumber"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item"
                        *ngIf="purchaseAccountForm.get('bankDetails')?.value === 'e - fund Transfer'">
                        <ion-label class="internal-form-label" position="floating">IFSC Code</ion-label>
                        <ion-input formControlName="ifscCode"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item"
                        *ngIf="purchaseAccountForm.get('bankDetails')?.value === 'e - fund Transfer'">
                        <ion-label class="internal-form-label" position="floating">Bank Name</ion-label>
                        <ion-input formControlName="bankName"></ion-input>
                    </ion-item>
                    <ion-item class="internal-form-item"
                        *ngIf="purchaseAccountForm.get('bankDetails')?.value === 'e - fund Transfer' || purchaseAccountForm.get('bankDetails')?.value === 'Other'">
                        <ion-label class="internal-form-label" position="floating">Opening Balance </ion-label>
                        <ion-input formControlName="openingBalance"></ion-input>
                    </ion-item>
                </div>
            </ion-item-group>
        </form>
    </div>
</ion-content>