<ion-header>
  <ion-toolbar color="primary">
    <!-- Start slot: Back button and title, or searchbar -->
    <ng-container *ngIf="!showSearchbar; else searchbarTpl">
      <ion-buttons slot="start" routerLink="/dashboard/home">
        <ion-button fill="clear" style="margin-right: 4px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </ion-button>
      </ion-buttons>
      <ion-title>My Companies</ion-title>
      <ion-buttons slot="end" style="color: white;">
        <ion-button (click)="showSearchbar = true">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
    <ng-template #searchbarTpl>
      <ion-searchbar slot="start" (ionInput)="handleInput($event)" autofocus="true" placeholder="Search...">
      </ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="showSearchbar = false">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="purchase-list-item" *ngFor="let item of branch_token">
      <ion-grid>
        <ion-row class="ion-justify-content-between">
          <ion-col size="10">
            <span class="company-name">
              {{item?.branch_name}}
            </span>
            <br />
            <span class="second-company-name">
              {{item?.branch_code}}
            </span>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" (click)="switchCompany(item?.branch_token_id, item?.branch_name)">
              <ion-icon name="information-circle-outline" style="font-size: 20px;  color: #083D7C;"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>