<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <div class="menu-header-vertical">
        <ion-avatar class="menu-avatar">
          <img src="assets/icon/favicon.png" alt="Avatar" />
        </ion-avatar>
        <div class="menu-title">Demo</div>
        <div class="menu-note">Demo&#64;gmail.com</div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list>
      <ion-item routerLink="/dashboard/home" routerDirection="root" (click)="closeMenu()" lines="none"
        class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector.svg" alt="Home" style="width: 22px; height: 22px;" />
        </span>
        Home
      </ion-item>
      <ion-item-group>
        <ion-item button (click)="showMaster = !showMaster" detail="false" lines="none" class="sidebar-menu-item">
          <span style="display: flex; align-items: center; margin-right: 8px;">
            <img src="assets/crown.svg" alt="Crown" style="width: 22px; height: 22px;" />
          </span>
          <ion-label>Master</ion-label>
          <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showMaster"></ion-icon>
          <ion-icon slot="end" name="chevron-up-outline" *ngIf="showMaster"></ion-icon>
        </ion-item>
        <div *ngIf="showMaster">
          <ion-item routerLink="/dashboard/master/tax" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/tax.png" alt="Tax" style="width: 22px; height: 22px;" />
            </span>
            Tax
          </ion-item>
          <ion-item routerLink="/dashboard/master/supplier" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/truck.svg" alt="Supplier" style="width: 22px; height: 22px;" />
            </span>
            Supplier
          </ion-item>
          <ion-item routerLink="/dashboard/master/custommer" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/user.svg" alt="Customer" style="width: 22px; height: 22px;" />
            </span>
            Customer
          </ion-item>
          <ion-item routerLink="/dashboard/master/sales-account" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/Leaderboard.svg" alt="Sales Account" style="width: 22px; height: 22px;" />
            </span>
            Sales Account
          </ion-item>
          <ion-item routerLink="/dashboard/master/purchase-account" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/Shopping cart checkout.svg" alt="Purchase Account" style="width: 22px; height: 22px;" />
            </span>
            Purchase Account
          </ion-item>
          <ion-item routerLink="/dashboard/master/stock-item" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/package.svg" alt="Stock Item" style="width: 22px; height: 22px;" />
            </span>
            Stock Item
          </ion-item>
          <ion-item routerLink="/dashboard/master/stock-groups" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/fluent-mdl2_engineering-group.svg" alt="Stock Groups"
                style="width: 22px; height: 22px;" />
            </span>
            Stock Groups
          </ion-item>
          <ion-item routerLink="/dashboard/master/stock-category" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/layers.svg" alt="Stock Category" style="width: 22px; height: 22px;" />
            </span>
            Stock Category
          </ion-item>
          <ion-item routerLink="/dashboard/master/unit" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/lucide_weight.svg" alt="Unit" style="width: 22px; height: 22px;" />
            </span>
            Unit
          </ion-item>
          <ion-item routerLink="/dashboard/master/voucher-type" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/file-text.svg" alt="Voucher Type" style="width: 22px; height: 22px;" />
            </span>
            Voucher Type
          </ion-item>
          <ion-item routerLink="/dashboard/master/discount" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/mdi_discount-outline.svg" alt="Discount" style="width: 22px; height: 22px;" />
            </span>
            Discount
          </ion-item>
          <ion-item routerLink="/dashboard/master/other-charges" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <span
                style="display: inline-block; width: 22px; height: 22px; font-size: 22px; color: #083D7C; line-height: 22px; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 400;">₹</span>
            </span>
            Other Charges
          </ion-item>
          <ion-item routerLink="/dashboard/master/round-off" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/refresh-cw.svg" alt="Round Off" style="width: 22px; height: 22px;" />
            </span>
            Round Off
          </ion-item>
          <ion-item routerLink="/dashboard/master/cost-center" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/material-symbols_money-bag-outline.svg" alt="Round Off"
                style="width: 22px; height: 22px;" />
            </span>
            Cost Center
          </ion-item>
          <ion-item routerLink="/dashboard/master/godown" routerDirection="root" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/lsicon_marketplace-outline.svg" alt="Godown" style="width: 22px; height: 22px;" />
            </span>
            Godown
          </ion-item>
          <ion-item routerLink="/dashboard/master/miscellaneous" routerDirection="root" (click)="closeMenu()"
            lines="none" class="sidebar-menu-item">
            <span style="display: flex; align-items: center; margin-right: 8px;">
              <img src="assets/codex_menu.svg" alt="Miscellaneous" style="width: 22px; height: 22px;" />
            </span>
            Miscellaneous
          </ion-item>
        </div>
      </ion-item-group>
      <ion-item routerLink="/dashboard/settings" routerDirection="root" (click)="closeMenu()" lines="none"
        class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector2.svg" alt="Settings" style="width: 22px; height: 22px;" />
        </span>
        Settings
      </ion-item>
      <ion-item routerLink="/dashboard/rate-us" routerDirection="root" (click)="closeMenu()" lines="none"
        class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector3.svg" alt="Rate Us" style="width: 22px; height: 22px;" />
        </span>
        Rate Us
      </ion-item>
      <ion-item lines="none" class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector5.svg" alt="Share with Friends" style="width: 22px; height: 22px;" />
        </span>
        Share with Friends
      </ion-item>
      <ion-item lines="none" class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector6.svg" alt="Share with Friends" style="width: 22px; height: 22px;" />
        </span>
        Feedback
      </ion-item>
      <ion-item routerLink="/dashboard/configuration" routerDirection="root" (click)="closeMenu()" lines="none"
        class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector2.svg" alt="Configuration" style="width: 22px; height: 22px;" />
        </span>
        Configuration
      </ion-item>
      <ion-item routerLink="/" routerDirection="root" (click)="closeMenu()" lines="none" class="sidebar-menu-item">
        <span style="display: flex; align-items: center; margin-right: 8px;">
          <img src="assets/Vector4.svg" alt="Logout" style="width: 22px; height: 22px;" />
        </span>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
</div>