<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <div class="menu-header-vertical">
        <ion-avatar class="menu-avatar">
          <img src="assets/icon/favicon.png" alt="Avatar" />
        </ion-avatar>
        <div class="menu-title">{{user_name}}</div>
        <div class="menu-note">{{user_email}}</div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list>
      <ion-item routerLink="/dashboard/home" (click)="closeMenu()" lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector.svg" alt="Home" class="sidebar-icon" />
        </span>
        Home
      </ion-item>
      <!-- master -->
      <ion-item-group>
        <ion-item button (click)="showMaster = !showMaster" detail="false" lines="none" class="sidebar-menu-item">
          <span class="sidebar-icon-wrapper">
            <img src="assets/crown.svg" alt="Crown" class="sidebar-icon" />
          </span>
          <ion-label>Master</ion-label>
          <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showMaster"></ion-icon>
          <ion-icon slot="end" name="chevron-up-outline" *ngIf="showMaster"></ion-icon>
        </ion-item>
        <div *ngIf="showMaster" class="master-margin">
          <ion-item routerLink="/dashboard/master/tax-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/tax.png" alt="Tax" class="sidebar-icon" />
            </span>
            Tax
          </ion-item>
          <ion-item routerLink="/dashboard/master/supplier-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/truck.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Supplier
          </ion-item>
          <ion-item routerLink="/dashboard/master/customer-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/user.svg" alt="Customer" class="sidebar-icon" />
            </span>
            Customer
          </ion-item>
          <ion-item routerLink="/dashboard/master/sales-account-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/Leaderboard.svg" alt="Sales Account" class="sidebar-icon" />
            </span>
            Sales Account
          </ion-item>
          <ion-item routerLink="/dashboard/master/purchase-account-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/Shopping cart checkout.svg" alt="Purchase Account" class="sidebar-icon" />
            </span>
            Purchase Account
          </ion-item>
          <ion-item routerLink="/dashboard/master/stock-item-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/package.svg" alt="Stock Item" class="sidebar-icon" />
            </span>
            Stock Item
          </ion-item>
          <ion-item routerLink="/dashboard/master/stock-group-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/fluent-mdl2_engineering-group.svg" alt="Stock Groups" class="sidebar-icon" />
            </span>
            Stock Groups
          </ion-item>
          <ion-item routerLink="/dashboard/master/stock-category-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/layers.svg" alt="Stock Category" class="sidebar-icon" />
            </span>
            Stock Category
          </ion-item>
          <ion-item routerLink="/dashboard/master/unit-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/lucide_weight.svg" alt="Unit" class="sidebar-icon" />
            </span>
            Unit
          </ion-item>
          <ion-item routerLink="/dashboard/master/voucher-type-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/file-text.svg" alt="Voucher Type" class="sidebar-icon" />
            </span>
            Voucher Type
          </ion-item>
          <ion-item routerLink="/dashboard/master/discount-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/mdi_discount-outline.svg" alt="Discount" class="sidebar-icon" />
            </span>
            Discount Received
          </ion-item>
          <ion-item routerLink="/dashboard/master/discount-paid-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/mdi_discount-outline.svg" alt="Discount" class="sidebar-icon" />
            </span>
            Discount Paid
          </ion-item>
          <!-- </div> -->
          <ion-item routerLink="/dashboard/master/other-charges-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <span class="sidebar-rupee">₹</span>
            </span>
            Other Charges
          </ion-item>
          <ion-item routerLink="/dashboard/master/round-off-add-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/refresh-cw.svg" alt="Round Off" class="sidebar-icon" />
            </span>
            Round Off Add
          </ion-item>
          <ion-item routerLink="/dashboard/master/round-off-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/refresh-cw.svg" alt="Round Off" class="sidebar-icon" />
            </span>
            Round Off Less
          </ion-item>
          <!-- </div> -->
          <ion-item routerLink="/dashboard/master/cost-center-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/material-symbols_money-bag-outline.svg" alt="Cost Center" class="sidebar-icon" />
            </span>
            Cost Center
          </ion-item>
          <ion-item routerLink="/dashboard/master/godown-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/lsicon_marketplace-outline.svg" alt="Godown" class="sidebar-icon" />
            </span>
            Godown
          </ion-item>
          <ion-item routerLink="/dashboard/master/miscellaneous-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/codex_menu.svg" alt="Miscellaneous" class="sidebar-icon" />
            </span>
            Miscellaneous
          </ion-item>
        </div>
      </ion-item-group>
      <!-- payment -->
      <ion-item-group>
        <ion-item button (click)="showPayment = !showPayment" detail="false" lines="none" class="sidebar-menu-item">
          <span class="sidebar-icon-wrapper">
            <img src="assets/crown.svg" alt="Crown" class="sidebar-icon" />
          </span>
          <ion-label>Payment</ion-label>
          <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showPayment"></ion-icon>
          <ion-icon slot="end" name="chevron-up-outline" *ngIf="showPayment"></ion-icon>
        </ion-item>
        <div *ngIf="showPayment" class="master-margin">
          <ion-item routerLink="/dashboard/payment/cash-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/tdesign_money.svg" alt="Tax" class="sidebar-icon" />
            </span>
            Cash
          </ion-item>
          <ion-item routerLink="/dashboard/payment/bank-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/ri_bank-line.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Bank
          </ion-item>
          <ion-item routerLink="/dashboard/payment/e-fund-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/ri_refund-line.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            E-Fund
          </ion-item>
        </div>
      </ion-item-group>
      <!-- Transaction -->
      <ion-item-group>
        <ion-item button (click)="showTransaction = !showTransaction" detail="false" lines="none"
          class="sidebar-menu-item">
          <span class="sidebar-icon-wrapper">
            <img src="assets/transaction_icon/proicons_arrow-swap.svg" alt="Crown" class="sidebar-icon" />
          </span>
          <ion-label>Transaction</ion-label>
          <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showTransaction"></ion-icon>
          <ion-icon slot="end" name="chevron-up-outline" *ngIf="showTransaction"></ion-icon>
        </ion-item>
        <div *ngIf="showTransaction" class="master-margin">
          <!-- Purchase -->
          <ion-item routerLink="/dashboard/transaction/purchase-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/Shopping cart checkout.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Purchase
          </ion-item>
          <!-- Sales -->
          <ion-item routerLink="/dashboard/transaction/sales-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/Leaderboard.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Sales
          </ion-item>
          <!-- Sales Order -->
          <ion-item routerLink="/dashboard/transaction/sales-order-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/lsicon_order-outline.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Sales Order
          </ion-item>
          <!-- Purchase Order -->
          <ion-item routerLink="/dashboard/transaction/purchase-order-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/material-symbols_order-approve-outline-rounded.svg" alt="Supplier"
                class="sidebar-icon" />
            </span>
            Purchase Order
          </ion-item>
          <!-- Sales Return -->
          <ion-item routerLink="/dashboard/transaction/sales-return-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/file-text.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Sales Return
          </ion-item>
          <!-- Purchase Return -->
          <ion-item routerLink="/dashboard/transaction/purchase-return-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/file-text.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Purchase Return
          </ion-item>
          <!-- Journal -->
          <ion-item routerLink="/dashboard/transaction/journal-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/Book.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Journal
          </ion-item>
          <!-- Delivery Note -->
          <ion-item routerLink="/dashboard/transaction/delivery-note-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/file-text.svg" alt="Tax" class="sidebar-icon" />
            </span>
            Delivery Note
          </ion-item>
          <!-- Payment -->
          <ion-item routerLink="/dashboard/transaction/payment-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/Payments.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Payment
          </ion-item>
          <!-- Receipt -->
          <ion-item routerLink="/dashboard/transaction/receipt-list" (click)="closeMenu()" lines="none"
            class="sidebar-menu-item master-margin">
            <span class="sidebar-icon-wrapper">
              <img src="assets/transaction_icon/Receipt long.svg" alt="Supplier" class="sidebar-icon" />
            </span>
            Receipt
          </ion-item>
        </div>
      </ion-item-group>
      <ion-item routerLink="/dashboard/settings" (click)="closeMenu()" lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector2.svg" alt="Settings" class="sidebar-icon" />
        </span>
        Settings
      </ion-item>
      <ion-item routerLink="/dashboard/rate-us" (click)="closeMenu()" lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector3.svg" alt="Rate Us" class="sidebar-icon" />
        </span>
        Rate Us
      </ion-item>
      <ion-item lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector5.svg" alt="Share with Friends" class="sidebar-icon" />
        </span>
        Share with Friends
      </ion-item>
      <ion-item lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector6.svg" alt="Feedback" class="sidebar-icon" />
        </span>
        Feedback
      </ion-item>
      <ion-item routerLink="/dashboard/configuration" (click)="closeMenu()" lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector2.svg" alt="Configuration" class="sidebar-icon" />
        </span>
        Configuration
      </ion-item>
      <ion-item routerLink="/" (click)="onLogout()" lines="none" class="sidebar-menu-item">
        <span class="sidebar-icon-wrapper">
          <img src="assets/Vector4.svg" alt="Logout" class="sidebar-icon" />
        </span>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ng-container *ngIf="!showSearchbar; else searchbarTpl">
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="isActive('/dashboard/stock')">Stock</ion-title>
      <ion-title *ngIf="isActive('/dashboard/report')">Report</ion-title>
      <ion-title *ngIf="isActive('/dashboard/add-entry')">Add Data Entry</ion-title>
      <ion-buttons
        *ngIf="isActive('/dashboard/stock') || isActive('/dashboard/report') || isActive('/dashboard/add-entry')"
        slot="end" style="color: white;">
        <ion-button (click)="showSearchbar = true">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons *ngIf="isActive('/dashboard/home')" slot="end" routerLink="/dashboard/my-companies"
        style="margin-right: 10px;">
        {{ branch_name || "user name" }}
        &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none">
          <path
            d="M1.46243 0.143523L6.25706 5.03103L10.9331 0.0299026L12.406 1.53461L6.29372 8.08614L0.0260568 1.68313L1.46243 0.143523Z"
            fill="white" />
        </svg>
      </ion-buttons>
    </ng-container>
    <ng-template #searchbarTpl>
      <ion-searchbar slot="start" (ionInput)="handleInput($event)" autofocus="true" placeholder="Search...">
      </ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="showSearchbar = false">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>

  </ion-toolbar>
</ion-header>
<ion-content id="main-content">
  <router-outlet></router-outlet>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" class="tab-home" routerLink="/dashboard/home" routerLinkActive="tab-selected">
    <div [ngClass]="isActive('/dashboard/home') ? 'active-button' : ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="21" viewBox="0 0 26 21" fill="none">
        <path
          d="M13 1L2.35484 10.9355L2 11.2903H5.19355V20.1613H10.1613V13.4194H16.1935V20.1613H20.8065V10.9355H24L13 1Z"
          [attr.stroke]="isActive('/dashboard/home') ? '#083D7C' : 'white'" />
      </svg>
      <ion-label class="button-label" *ngIf="isActive('/dashboard/home')">Home</ion-label>
    </div>
  </ion-tab-button>
  <ion-tab-button tab="stock" routerLink="/dashboard/stock" routerLinkActive="tab-selected">
    <div [ngClass]="isActive('/dashboard/stock') ? 'active-button' : ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M23.2176 5.95656L12.6957 10.6523L7.34787 8.21745M23.2176 5.95656V13.3479M23.2176 5.95656L17.8262 3.47828M2 5.95656V18.4784L12.3479 23.0871L14.261 22.2176M7.34787 8.21745L2 5.78265L12.4349 1L17.8262 3.47828M7.34787 8.21745L17.8262 3.47828M16.6958 17.9567L18.261 19.6088L21.4784 16.6523"
          [attr.stroke]="isActive('/dashboard/stock') ? '#083D7C' : 'white'" />
        <path
          d="M18.7827 13.0653C21.3879 13.0655 23.4995 15.1778 23.4995 17.7831C23.4993 20.3882 21.3878 22.4997 18.7827 22.4999C16.1774 22.4999 14.0651 20.3883 14.0649 17.7831C14.0649 15.1777 16.1773 13.0653 18.7827 13.0653Z"
          [attr.stroke]="isActive('/dashboard/stock') ? '#083D7C' : 'white'" />
      </svg>
      <ion-label class="button-label" *ngIf="isActive('/dashboard/stock')">Stock</ion-label>
    </div>
  </ion-tab-button>
  <ion-tab-button tab="report" routerLink="/dashboard/report" routerLinkActive="tab-selected">
    <div [ngClass]="isActive('/dashboard/report') ? 'active-button' : ''">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M18.4886 1H6.21339V3.72782L6.17869 3.96971M18.4886 1L23 5.5114V5.61632M18.4886 1V5.61632C19.9924 5.65129 23 5.70025 23 5.61632M6.10848 13.0654V23.2423H23V5.61632M6.10848 13.0654C4.67462 13.0654 1.68101 12.4569 1.17741 10.0228C0.82769 8.76381 0.757746 5.91008 3.27574 4.56715C3.71787 4.28714 4.43574 3.9972 5.26919 3.93756M6.10848 13.0654C7.45137 12.4778 8.48659 11.5616 8.83635 11.1769C9.65881 10.3544 9.91512 9.37654 9.88155 8.44906M6.17869 3.96971C7.09437 4.1035 8.07246 4.56652 8.94126 5.61632C9.34856 6.21757 9.83975 7.29424 9.88155 8.44906M6.17869 3.96971C5.86597 3.92401 5.56052 3.91672 5.26919 3.93756M2.64628 8.13431C2.68126 9.21844 3.33873 11.3028 5.68886 10.967M5.26919 3.93756V8.34414L9.88155 8.44906M13.033 8.55397L20.2722 8.44906M13.033 10.3376H20.3771M11.5642 5.72123H16.81M11.4593 4.04257H16.9149M8.94126 19.2554L12.2986 15.5834L15.3412 19.4653L19.9575 14.2195"
          [attr.stroke]="isActive('/dashboard/report') ? '#083D7C' : 'white'" />
        <ellipse cx="8.83628" cy="19.3604" rx="0.944247" ry="0.944247"
          [attr.fill]="isActive('/dashboard/report') ? '#083D7C' : 'white'" />
        <ellipse cx="12.4035" cy="15.5833" rx="0.944247" ry="0.944247"
          [attr.fill]="isActive('/dashboard/report') ? '#083D7C' : 'white'" />
        <ellipse cx="15.3407" cy="19.3604" rx="0.944247" ry="0.944247"
          [attr.fill]="isActive('/dashboard/report') ? '#083D7C' : 'white'" />
        <ellipse cx="19.958" cy="13.9047" rx="0.944247" ry="0.944247"
          [attr.fill]="isActive('/dashboard/report') ? '#083D7C' : 'white'" />
      </svg>
      <ion-label class="button-label" *ngIf="isActive('/dashboard/report')">Report</ion-label>
    </div>
  </ion-tab-button>
  <ion-tab-button tab="add-entry" routerLink="/dashboard/add-entry" routerLinkActive="tab-selected">
    <div [ngClass]="isActive('/dashboard/add-entry') ? 'active-button' : ''">
      <div [ngClass]="isActive('/dashboard/add-entry') ? 'activate-box-div' : 'square-box-div'">
        <span class="plus-icon" [ngClass]="isActive('/dashboard/add-entry') ? 'active-plus-icon' : 'plus-icon'">+</span>
      </div>
      <ion-label class="button-label" *ngIf="isActive('/dashboard/add-entry')">Entry</ion-label>
    </div>
  </ion-tab-button>
</ion-tab-bar>