<ion-header>
  <ion-toolbar color="primary">
    <!-- Start slot: Back button and title, or searchbar -->
    <ng-container>
      <ion-buttons slot="start" routerLink="/dashboard/settings">
        <ion-button fill="clear" style="margin-right: 4px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </ion-button>
      </ion-buttons>
      <ion-title>Update Profile</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navigateToHome()" style="margin-right: 4px;">
          <ion-icon name="home-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="navigateToReport()" style="margin-right: 4px;">
          <ion-icon name="document-text-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="navigateToAddEntry()" style="margin-right: 4px;">
          <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ng-container>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-avatar (click)="openGallery()">
          <img [src]="avatarUrl || 'assets/profile.png'" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="profileForm">
    <div class="centered-form-wrapper">
      <!-- Example fields, adapt as needed for cost center -->
      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Email</ion-label>
        <ion-input formControlName="e_mail"></ion-input>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Phone Number</ion-label>
        <ion-input formControlName="phone_number"></ion-input>
      </ion-item>

      <ion-item class="internal-form-item">
        <ion-label class="internal-form-label" position="floating">Postal code</ion-label>
        <ion-input formControlName="postal_code"></ion-input>
      </ion-item>
    </div>
  </form>

</ion-content>
<ion-footer style="--background: #034099;">
  <ion-button expand="block" style="--background: #034099; color: white;">Connect</ion-button>
</ion-footer>