<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="clear" routerLink="/dashboard/master/cost-center-list">
                <span slot="icon-only">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
            </ion-button>
            <ion-title class="toolbar-title-text">Cost Center</ion-title>
        </ion-buttons>
        <ion-spinner *ngIf="isLoading" slot="end"></ion-spinner>
        <ion-buttons slot="end" *ngIf="!isLoading">
            <ion-button (click)="addCostCenter()">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="costCenterForm">
        <div class="centered-form-wrapper">
            <!-- Example fields, adapt as needed for cost center -->
            <ion-item class="internal-form-item"
                [class.invalid-item]="costCenterForm.get('costCenterName')?.invalid && (costCenterForm.get('costCenterName')?.touched || costCenterForm.get('costCenterName')?.dirty)">
                <ion-label class="internal-form-label" position="floating">Cost Center Name *</ion-label>
                <ion-input formControlName="costCenterName"></ion-input>
                <div class="error-message"
                    *ngIf="costCenterForm.get('costCenterName')?.invalid && (costCenterForm.get('costCenterName')?.touched || costCenterForm.get('costCenterName')?.dirty)">
                    Cost Center Name is required.
                </div>
            </ion-item>

            <ion-item class="internal-form-item"
                [class.invalid-item]="costCenterForm.get('alias')?.invalid && (costCenterForm.get('alias')?.touched || costCenterForm.get('alias')?.dirty)">
                <ion-label class="internal-form-label" position="floating">Alias *</ion-label>
                <ion-input formControlName="alias"></ion-input>
            </ion-item>

            <ion-item class="internal-form-item"
                [class.invalid-item]="costCenterForm.get('under')?.invalid && (costCenterForm.get('under')?.touched || costCenterForm.get('under')?.dirty)">
                <ion-label class="internal-form-label" position="floating">Under *</ion-label>
                <ion-select formControlName="under" interface="alert">
                    <ion-select-option value="Primary">Primary</ion-select-option>
                    <ion-select-option value="Secondary">Secondary</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Email ID</ion-label>
                <ion-input formControlName="emailId"></ion-input>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Bank Details</ion-label>
                <ion-select formControlName="bankDetails" interface="alert">
                    <ion-select-option value="Cheque">Cheque</ion-select-option>
                    <ion-select-option value="e - fund Transfer">e - fund Transfer</ion-select-option>
                    <ion-select-option value="Other">Other</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="costCenterForm.get('bankDetails').value === 'Cheque'" class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Cross Using</ion-label>
                <ion-input formControlName="crossUsing"></ion-input>
            </ion-item>
            <ion-item *ngIf="costCenterForm.get('bankDetails').value === 'e - fund Transfer'"
                class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">A/C Number</ion-label>
                <ion-input formControlName="accountNumber"></ion-input>
            </ion-item>
            <ion-item *ngIf="costCenterForm.get('bankDetails').value === 'e - fund Transfer'"
                class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">IFSC Code</ion-label>
                <ion-input formControlName="ifscCode"></ion-input>
            </ion-item>
            <ion-item *ngIf="costCenterForm.get('bankDetails').value === 'e - fund Transfer'"
                class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Bank Name</ion-label>
                <ion-input formControlName="bankName"></ion-input>
            </ion-item>
            <!-- Additional Details copied from stock-item -->
            <ion-item-group>
                <ion-item button (click)="showAdditionalDetails = !showAdditionalDetails" detail="false" lines="none">
                    <ion-label class="cost-center-additional-details-label">Additional Details</ion-label>
                    <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showAdditionalDetails"></ion-icon>
                    <ion-icon slot="end" name="chevron-up-outline" *ngIf="showAdditionalDetails"></ion-icon>
                </ion-item>
                <div *ngIf="showAdditionalDetails">
                    <ion-item class="internal-form-item">
                        <ion-checkbox class="cost-center-checkbox" slot="end"
                            formControlName="useForJobCosting"></ion-checkbox>
                        <ion-label class="internal-form-label">Use For Job Costing</ion-label>
                    </ion-item>
                    <ion-item class="internal-form-item">
                        <ion-checkbox class="cost-center-checkbox" slot="end"
                            formControlName="showOpeningBalance"></ion-checkbox>
                        <ion-label class="internal-form-label">Showing opening Balance For Revenue Items In
                            Reports</ion-label>
                    </ion-item>
                </div>
            </ion-item-group>
        </div>
    </form>
</ion-content>