<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button fill="clear" routerLink="/dashboard/master/godown-list">
                <span slot="icon-only">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M14.25 9H3.75" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M9 14.25L3.75 9L9 3.75" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
            </ion-button>
            <ion-title class="toolbar-title-text">Godown</ion-title>
        </ion-buttons>
        <ion-spinner *ngIf="isLoading" slot="end"></ion-spinner>
        <ion-buttons slot="end" *ngIf="!isLoading">
            <ion-button fill="clear" (click)="createGodown()">
                Save
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="godownForm">
        <div class="centered-form-wrapper">
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Name *</ion-label>
                <ion-input formControlName="name"></ion-input>
                <div *ngIf="godownForm.get('name')?.touched && godownForm.get('name')?.invalid">
                    <span class="error-message" *ngIf="godownForm.get('name')?.errors?.['required']">Name is
                        required.</span>
                </div>
            </ion-item>

            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Alias </ion-label>
                <ion-input formControlName="alias"></ion-input>
            </ion-item>

            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Under </ion-label>
                <ion-select formControlName="under" interface="alert">
                    <ion-select-option value="Primary">Primary</ion-select-option>
                    <ion-select-option value="Main Location">Main Location</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Excise Tax Unit</ion-label>
                <ion-select formControlName="exciseTaxUnit" interface="alert">
                    <ion-select-option value="Not Applicable">Not Applicable</ion-select-option>
                    <ion-select-option value="TOM">TOM</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Address</ion-label>
                <ion-input formControlName="address"></ion-input>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Allow Material Storage</ion-label>
                <ion-select formControlName="allowMaterialStorage" interface="alert">
                    <ion-select-option value="Yes">Yes</ion-select-option>
                    <ion-select-option value="No">No</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="internal-form-item">
                <ion-label class="internal-form-label" position="floating">Set Job For Job Posting</ion-label>
                <ion-select formControlName="setJobForJobPosting" interface="alert">
                    <ion-select-option value="Not Applicable">Not Applicable</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
        <!-- Additional Details copied from cost-center -->
        <ion-item-group>
            <ion-item button (click)="showAdditionalDetails = !showAdditionalDetails" detail="false" lines="none">
                <ion-label class="additional-details-label">Additional Details</ion-label>
                <ion-icon slot="end" name="chevron-down-outline" *ngIf="!showAdditionalDetails"></ion-icon>
                <ion-icon slot="end" name="chevron-up-outline" *ngIf="showAdditionalDetails"></ion-icon>
            </ion-item>
            <div *ngIf="showAdditionalDetails">
                <ion-item class="internal-form-item">
                    <ion-checkbox class="godown-checkbox" slot="end" formControlName="checkBox1"></ion-checkbox>
                    <ion-label class="internal-form-label">Use Stock With Third party</ion-label>
                </ion-item>
                <ion-item class="internal-form-item">
                    <ion-checkbox class="godown-checkbox" slot="end" formControlName="checkBox2"></ion-checkbox>
                    <ion-label class="internal-form-label">Use Third Party Stock With Us</ion-label>
                </ion-item>
            </div>
        </ion-item-group>
    </form>
</ion-content>